md-card-title,
md-card-content {
  display: flex;
  justify-content: center;
}


md-card {
  margin: 15px;
}

md-card-image {
  max-height: 150px;
  max-width: 150px;
}

md-card-spinner {
  padding-left: 60px;
}

md-spinner {
  width: 30px;
  height: 30px;
  position: relative;
  top: 10px;
  left: 10px;
  opacity: 0.0;
}

md-spinner.show {
  opacity: 1.0;
}
